<%= @document %>

<style>

.chart div {
  font: 10px sans-serif;
  padding: 3px;
  margin: 1px;
  color: blue;
}

</style>

<div class="chart"></div>


<script>
  var data = [
                <% @freqs.each do |word, appearance| %>
                  {word: "<%= word %>", appearance: <%= appearance %>},
                <% end %>
               ];

  d3.select(".chart")
    .selectAll("div")
      .data(data)
    .enter().append("div")
      .style("font-size", function(d) { return d.appearance * 10 + "px"; })
      .text(function(d) { return d.word; });
</script>


<% @freqs.each do |word, appearance|%>
  <div><%= "#{word}, #{appearance}" %></div>
<% end %>
